html, body {
    height : 100%;
    width : 100%;
    padding: 0;
    margin: 0;
}

#root {
    height : 100%;
    width : 100%;
    display: block;
}


.divDraggable {
    position: fixed;
}

.elementBeingDragged {
    cursor : pointer !important;
    pointer-events: none !important;
}

#workspace {
    margin-left: 10px; 
    margin-right: 10px;
    height: 100%;
    display: block;
    
    background: lightcyan;
}

#toolbox {  
    height : 50px;
    width: 100%;
    margin : 0;
    display: block;
    background-color: #DDDDDD;
}


.highlighted {
    fill: #00ff66 !important; 
    stroke : black;
    cursor : move;
}

.standardBlock {
    fill: #ff0066 ; 
    stroke : black;
    cursor : move;
}